.Titulo-Index { 
  justify-content: center;
  margin: 30px 50px;
}

.Tiendas {
  margin: 20px 40px;
  justify-content: space-between;
  height: auto;
}

.Card {
  margin: 0px 10px;
  flex-direction: column;
  flex-basis: calc(50% - 30px);
  align-items: center;
  height: 200px;
  background-color: rgb(65, 151, 122);
  color: white;
  border-radius: 8px;
}

.Card * {
  margin: 10px 0px;
}

.Encabezado-Card {
  height: calc(30%);
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 10px;
}

.Encabezado-Card * {
  margin: 0px 10px;
}

.Encabezado-Card a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.Datos-Tienda {
  background-color: white;
  color: black;
  width: calc(80%);
  height: calc(70%);
  border-radius: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.Datos-Tienda ul {
  list-style: none;
  padding-left: 20px;
}


.flex {
  display: flex;
}