{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_shop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'historiales.css' %}">
    <title>Shops</title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}        
  </body>
</html>